var filters = {
  toFix: function(value) {
    if (value == '') {
      value = 0;
    }
    if (typeof(value) == 'number') {
      return value.toFixed(2) //此处2为保留两位小数
    } else {
      return value
    }
  },
  contextCount: function(context) {
    var count = context.length;

    if (count <= 35) {
      return context
    } else {
      return context.substring(0, 34) + "···"
    }
  },
  contextCount1: function (context) {
    var count = context.length;

    if (count <= 30) {
      return context
    } else {
      return context.substring(0, 30) + "···"
    }
  },
  contextCount2: function (context) {
    var count = context.length;

    if (count <= 55) {
      return context
    } else {
      return context.substring(0, 55) + "···"
    }
  }
}
module.exports = {
  toFix: filters.toFix,
  contextCount: filters.contextCount,
  contextCount1: filters.contextCount1,
  contextCount2: filters.contextCount2,
}