<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.connection.dao.BegJobDao">
   <!--  * -->
	<insert id="addJob" parameterType="java.util.Map" keyProperty="id">
		<selectKey keyProperty='id' resultType='int' order='AFTER'>
        	select LAST_INSERT_ID();
    	</selectKey>
		INSERT INTO beg_job(userId,totalAward,award,context,job_type)VALUE(#{userId},#{totalAward},
		#{award},#{context},#{job_type})
	</insert>
	
	<insert id="payOver">
		insert into  beg_job_record(userId,transaction_id,out_trade_no,jobId)  values(#{userId},#{transaction_id},#{out_trade_no},#{jobId}) 
	</insert>
	
<!-- 	获得我被讨得红包 -->
	<select id="getMyBeggedPush" resultType="java.util.Map">
		SELECT a.id,a.userId,a.award,a.context,a.job_type,
			DATE_FORMAT(a.createTime,"%Y-%m-%d")AS createTime,b.nickName,b.avatarUrl FROM beg_job a
		LEFT JOIN admin b ON a.userId = b.userId
			WHERE a.id = any(select jobId from beg_job_record c where c.userId=#{userId}) 
			<if test="id!=0">
				AND id &lt; #{id}
			</if>
			ORDER BY id DESC LIMIT 10
	</select>
	<!-- 	获得我讨得红包 -->
	<select id="getMyBegPush" resultType="java.util.Map">
		SELECT a.id,a.userId,a.award,a.context,a.job_type,
			DATE_FORMAT(a.createTime,"%Y-%m-%d")AS createTime,b.nickName,b.avatarUrl,
			IF(COUNT(c.jobId) IS NULL,0,COUNT(c.jobId))AS peopleCount
			FROM beg_job a
		LEFT JOIN admin b ON a.userId = b.userId 
		LEFT JOIN beg_job_record c ON a.id = c.jobId 
			WHERE a.userId = #{userId}
			GROUP BY a.id
			<if test="id!=0">
				AND id &lt; #{id}
			</if>
			ORDER BY id DESC LIMIT 10
	</select>
	
	
<!-- 	获得具体得红包 -->
	<select id="getBegJobById" resultType="java.util.Map" parameterType="int">
		SELECT a.id,a.userId,a.totalAward,a.award,a.context,
			DATE_FORMAT(a.createTime,"%Y-%m-%d %H:%i:%s")AS createTime,a.headPic,
			a.userName,a.skipAppid,a.skipUrl,a.shareUrl,a.wxchat_mark,a.pre_image,a.tweet,a.tweet_title,
			a.job_type,b.nickName,b.avatarUrl FROM beg_job a
		LEFT JOIN admin b ON a.userId = b.userId WHERE id = #{id}  AND a.totalAward &gt;= a.award
	</select>
<!-- 	支付回调 判断 -->
	<select id="getJobById1" resultType="java.util.Map" parameterType="int">
		SELECT a.id,a.userId,a.totalAward,a.award,a.context,
			DATE_FORMAT(a.createTime,"%Y-%m-%d %H:%i:%s")AS createTime,a.headPic,
			a.userName,a.skipAppid,a.skipUrl,a.shareUrl FROM beg_job a
		 WHERE id = #{id} 
	</select>
<!-- 	判断语音是否可讲 -->
	<select id="getJobById2" resultType="java.util.Map" parameterType="int">
		SELECT 
		  a.id,
		  a.userId,
		  a.totalAward,
		  a.award,
		  a.alreadyAward,
		  a.totalCount,
		  a.alreadyCount,
		  a.context,
		  DATE_FORMAT(
		    a.createTime,
		    "%Y-%m-%d %H:%i:%s"
		  ) AS createTime,
		  TIMESTAMPDIFF(SECOND,createTime,NOW()) AS timeLimit,
		  a.state,
		  a.headPic,
		  a.title,
		  a.userName,
		  a.skipAppid,
		  a.skipUrl,
		  a.shareUrl,
		  a.transaction_id 
		FROM
		  beg_job a 
		WHERE id = #{id} AND state IN (1,4) AND a.totalAward &gt;= a.award
	</select>
	
	<update id="modifyCount">
		UPDATE beg_job SET alreadyAward = alreadyAward + #{award},alreadyCount = alreadyCount +1,VERSION = VERSION + 1
		WHERE id = #{id} AND state != 0 AND VERSION = #{version} AND totalCount &gt; alreadyCount
	</update>
	
	<select id="getBegCount" resultType="java.util.Map" parameterType = "int">
		SELECT IF(a.totalCount IS NULL,0,a.totalCount) AS totalCount,IF(b.totalAward IS NULL,0,b.totalAward) AS totalAward FROM
		(SELECT COUNT(1) AS totalCount FROM beg_job WHERE userId = #{0} ) a,
		(SELECT IF(SUM(award) IS NULL,0,SUM(award)) totalAward FROM beg_job_record LEFT JOIN  beg_job bj ON jobId=id WHERE bj.userId = #{0}) b
	</select>
	
	<select id="getBegRecordCount" resultType="java.util.Map" parameterType = "int">
		SELECT IF(a.totalCount IS NULL,0,a.totalCount) AS totalCount,IF(b.totalAward IS NULL,0,b.totalAward) AS totalAward FROM
		(SELECT COUNT(1) AS totalCount FROM beg_job_record WHERE userId = #{0} ) a,
		(SELECT SUM(award) AS totalAward FROM beg_job WHERE id = ANY(SELECT jobId  FROM beg_job_record  WHERE userId = #{0} ) ) b
	</select>
	
	<select id="getOverdue" resultType="java.util.Map">
		SELECT id,userId,totalAward,award,alreadyAward,totalCount,alreadyCount,context,timeLimit,DATE_FORMAT(createTime,"%Y-%m-%d %H:%i:%s")AS createTime,
		state,transaction_id FROM beg_job WHERE timeLimit*24*60-1-TIMESTAMPDIFF(MINUTE,createTime,NOW()) &lt; 0 AND state = 1 AND timeLimit != 0
	</select>
	
	<select id="pushTimeDue" resultType="java.util.Map">
		SELECT id,userId,totalAward,award,alreadyAward,totalCount,alreadyCount,context,timeLimit,DATE_FORMAT(createTime,"%Y-%m-%d %H:%i:%s")AS createTime,state
			FROM beg_job WHERE TIMESTAMPDIFF(MINUTE,NOW(),createTime) &lt;6 AND state = 4 AND takePush = 0
	</select>
	
	<update id="updateTakePush" parameterType="int">
		UPDATE beg_job SET takePush =  1 WHERE id = #{id} 
	</update>
	
	<update id="updateState">
		UPDATE beg_job SET state =  #{state} WHERE id = #{id}
	</update>
	
	<select id="getTimerJob" resultType="java.util.Map" parameterType="int">
		SELECT a.id,a.userId,a.award,a.alreadyAward,a.totalCount,a.alreadyCount,a.context,
			DATE_FORMAT(a.createTime,"%Y-%m-%d")AS createTime,a.state,a.headPic,
			a.title,a.userName,b.nickName,b.avatarUrl,IF(c.markCount IS NULL,0,c.markCount)AS markCount FROM beg_job a
		LEFT JOIN admin b ON a.userId = b.userId
		LEFT JOIN (SELECT COUNT(1)+903 AS markCount,jobId FROM (SELECT DISTINCT(userId),jobId FROM job_take)a GROUP BY jobId)c ON a.id = c.jobId
			WHERE a.state = 4
			<if test="id!=0">
				AND id &lt; #{id}
			</if>
			ORDER BY id DESC LIMIT 2
	</select>
<!-- 	保存分享图 -->
	<update id="updateBegSharePic">
		UPDATE beg_job SET shareUrl =#{shareUrl}  WHERE id =#{id}
	</update>
	
	<select id="getLuckyNumber" resultType="String" >
		SELECT number FROM lucky_number ;
	
	</select>
	<insert id="addLuckyNumber" parameterType="double">
	insert into lucky_number(number) values( #{number})
	</insert>
	
	
	<select id="getUserId" resultType="java.lang.Integer">
		select userId from admin where openid=#{openid}
	
	</select>
	
	<select id="getUserIdByJobId" parameterType="int" resultType="java.lang.Integer">
	select userId from beg_job where id=#{jobId}
	
	</select>
	<!-- 得到给讨付钱的人 -->
	<select id="getRecord" parameterType="int" resultType="java.util.HashMap">
	 SELECT a.userId,a.`nickName`,a.`avatarUrl`,c.state,c.createTime FROM admin a 
	RIGHT JOIN beg_job_record c ON c.userId=a.`userId` WHERE
	  jobId = #{jobId} AND state IN(0,1)
	</select>
	
	<select id="getPaied" parameterType="int" resultType="java.util.HashMap">
	 SELECT t.state,t.jobId,t.userId FROM beg_job_record t  WHERE
	 userId = #{0}  AND jobId = #{1}
	</select>
	<update id="updataBegRecordState" parameterType="int">
	update beg_job_record set state =1 where jobId=#{0} AND userId =#{1} AND state =0
	
	</update>
	<insert id="insertCommandImage" >
	insert into user_command_image(commandImagePath,userId) values(#{0},#{1})
	</insert>
	<insert id="insertVoiceCommand"  >
	INSERT INTO user_command_voice(commandVoicePath,userId,voiceTime) VALUES(#{0},#{1},#{2})
	</insert>
	<insert id="insertVedioCommand"  >
	insert into user_command_vedio(commandVedioPath,userId) values(#{0},#{1})
	</insert>
	<insert id="saveBegCommand"  >
	insert into user_beg_command(userId,context) values(#{0},#{1})
	</insert>
	
	
	
	
	<insert id="sysCommandImage"  >
	insert into command_image(commandImagePath,fatherId) values(#{0},#{1})
	</insert>
	<insert id="sysVedioCommand"  >
	insert into vedio_command(vedioCommandPath,fatherId) values(#{0},#{1})
	</insert>
	<insert id="sysVoiceCommand"  >
	insert into voice_command(voiceCommandPath,fatherId,context,voiceTime) values(#{0},#{1},#{2},#{3})
	</insert>
	<insert id="sysCommand"  >
	insert into info_example(contextId,levelContextId,context) values(#{0},#{1},#{2})
	</insert>
	<insert id="sysBegCommand"  >
	insert into beg_command(fatherId,context) values(#{0},#{1})
	</insert>
	
	
</mapper>